{
    'a': (
        frequency: 0.08,
        digraphs: [
            (letter: 'a', frequency: 3.0000001e-05),
            (letter: 'b', frequency: 0.0023),
            (letter: 'c', frequency: 0.00448),
            (letter: 'd', frequency: 0.00368),
            (letter: 'e', frequency: 0.000120000004),
            (letter: 'f', frequency: 0.00074),
            (letter: 'g', frequency: 0.00205),
            (letter: 'h', frequency: 0.00014),
            (letter: 'i', frequency: 0.00316),
            (letter: 'j', frequency: 0.000120000004),
            (letter: 'k', frequency: 0.00105),
            (letter: 'l', frequency: 0.01087),
            (letter: 'm', frequency: 0.00285),
            (letter: 'n', frequency: 0.01985),
            (letter: 'o', frequency: 5e-05),
            (letter: 'p', frequency: 0.0020299999),
            (letter: 'q', frequency: 2.0000001e-05),
            (letter: 'r', frequency: 0.01075),
            (letter: 's', frequency: 0.00871),
            (letter: 't', frequency: 0.01487),
            (letter: 'u', frequency: 0.00119),
            (letter: 'v', frequency: 0.00205),
            (letter: 'w', frequency: 0.00059999997),
            (letter: 'x', frequency: 0.00018999999),
            (letter: 'y', frequency: 0.00217),
            (letter: 'z', frequency: 0.000120000004),
        ],
    ),
    'b': (
        frequency: 0.015,
        digraphs: [
            (letter: 'a', frequency: 0.0014599999),
            (letter: 'b', frequency: 0.00011),
            (letter: 'c', frequency: 2.0000001e-05),
            (letter: 'd', frequency: 2.0000001e-05),
            (letter: 'e', frequency: 0.0057599996),
            (letter: 'h', frequency: 1.0000001e-05),
            (letter: 'i', frequency: 0.00107),
            (letter: 'j', frequency: 0.00023),
            (letter: 'l', frequency: 0.00233),
            (letter: 'm', frequency: 3.0000001e-05),
            (letter: 'n', frequency: 2.0000001e-05),
            (letter: 'o', frequency: 0.00195),
            (letter: 'p', frequency: 1.0000001e-05),
            (letter: 'r', frequency: 0.00112),
            (letter: 's', frequency: 0.00046),
            (letter: 't', frequency: 0.00017000001),
            (letter: 'u', frequency: 0.00185),
            (letter: 'v', frequency: 4.0000003e-05),
            (letter: 'y', frequency: 0.00176),
        ],
    ),
    'c': (
        frequency: 0.033,
        digraphs: [
            (letter: 'a', frequency: 0.00538),
            (letter: 'b', frequency: 1.0000001e-05),
            (letter: 'c', frequency: 0.00083),
            (letter: 'd', frequency: 2.0000001e-05),
            (letter: 'e', frequency: 0.00651),
            (letter: 'f', frequency: 1.0000001e-05),
            (letter: 'g', frequency: 1.0000001e-05),
            (letter: 'h', frequency: 0.00598),
            (letter: 'i', frequency: 0.00281),
            (letter: 'k', frequency: 0.00118),
            (letter: 'l', frequency: 0.00149),
            (letter: 'm', frequency: 3.0000001e-05),
            (letter: 'n', frequency: 1.0000001e-05),
            (letter: 'o', frequency: 0.00794),
            (letter: 'p', frequency: 1.0000001e-05),
            (letter: 'q', frequency: 5e-05),
            (letter: 'r', frequency: 0.00149),
            (letter: 's', frequency: 0.00023),
            (letter: 't', frequency: 0.00461),
            (letter: 'u', frequency: 0.0016300001),
            (letter: 'y', frequency: 0.00042),
            (letter: 'z', frequency: 1.0000001e-05),
        ],
    ),
    'd': (
        frequency: 0.038,
        digraphs: [
            (letter: 'a', frequency: 0.00151),
            (letter: 'b', frequency: 3.0000001e-05),
            (letter: 'c', frequency: 3.0000001e-05),
            (letter: 'd', frequency: 0.00043000001),
            (letter: 'e', frequency: 0.00765),
            (letter: 'f', frequency: 3.0000001e-05),
            (letter: 'g', frequency: 0.00031),
            (letter: 'h', frequency: 5e-05),
            (letter: 'i', frequency: 0.00493),
            (letter: 'j', frequency: 5e-05),
            (letter: 'l', frequency: 0.00032000002),
            (letter: 'm', frequency: 0.00017999999),
            (letter: 'n', frequency: 8.0000005e-05),
            (letter: 'o', frequency: 0.0018799999),
            (letter: 'p', frequency: 2.0000001e-05),
            (letter: 'q', frequency: 1.0000001e-05),
            (letter: 'r', frequency: 0.00085),
            (letter: 's', frequency: 0.00126),
            (letter: 't', frequency: 3.0000001e-05),
            (letter: 'u', frequency: 0.00148),
            (letter: 'v', frequency: 0.00018999999),
            (letter: 'w', frequency: 8.0000005e-05),
            (letter: 'y', frequency: 0.0005),
        ],
    ),
    'e': (
        frequency: 0.125,
        digraphs: [
            (letter: 'a', frequency: 0.0068800002),
            (letter: 'b', frequency: 0.00027000002),
            (letter: 'c', frequency: 0.00477),
            (letter: 'd', frequency: 0.0116799995),
            (letter: 'e', frequency: 0.00378),
            (letter: 'f', frequency: 0.0016300001),
            (letter: 'g', frequency: 0.0011999999),
            (letter: 'h', frequency: 0.00026),
            (letter: 'i', frequency: 0.00183),
            (letter: 'j', frequency: 5e-05),
            (letter: 'k', frequency: 0.00016000001),
            (letter: 'l', frequency: 0.0053),
            (letter: 'm', frequency: 0.00374),
            (letter: 'n', frequency: 0.01454),
            (letter: 'o', frequency: 0.00072999997),
            (letter: 'p', frequency: 0.0017200001),
            (letter: 'q', frequency: 0.00057),
            (letter: 'r', frequency: 0.020480001),
            (letter: 's', frequency: 0.01339),
            (letter: 't', frequency: 0.00413),
            (letter: 'u', frequency: 0.00031),
            (letter: 'v', frequency: 0.0025499999),
            (letter: 'w', frequency: 0.00117),
            (letter: 'x', frequency: 0.00214),
            (letter: 'y', frequency: 0.0014399999),
            (letter: 'z', frequency: 5e-05),
        ],
        rules: [
            (conditions: [FollowsLetterGroup("vowels"), Last], action: Remove),
        ],
    ),
    'f': (
        frequency: 0.024,
        digraphs: [
            (letter: 'a', frequency: 0.00164),
            (letter: 'c', frequency: 1.0000001e-05),
            (letter: 'e', frequency: 0.0023700001),
            (letter: 'f', frequency: 0.0014599999),
            (letter: 'g', frequency: 1.0000001e-05),
            (letter: 'i', frequency: 0.00285),
            (letter: 'l', frequency: 0.00065),
            (letter: 'm', frequency: 1.0000001e-05),
            (letter: 'o', frequency: 0.00488),
            (letter: 'r', frequency: 0.00213),
            (letter: 's', frequency: 6.0000002e-05),
            (letter: 't', frequency: 0.00082),
            (letter: 'u', frequency: 0.00096000003),
            (letter: 'y', frequency: 8.9999994e-05),
        ],
        rules: [
            (conditions: [Last], action: Double, probability: Some(0.85)),
        ],
    ),
    'g': (
        frequency: 0.019,
        digraphs: [
            (letter: 'a', frequency: 0.00148),
            (letter: 'd', frequency: 3.0000001e-05),
            (letter: 'e', frequency: 0.00385),
            (letter: 'f', frequency: 1.0000001e-05),
            (letter: 'g', frequency: 0.00025),
            (letter: 'h', frequency: 0.00228),
            (letter: 'i', frequency: 0.0015199999),
            (letter: 'l', frequency: 0.00061),
            (letter: 'm', frequency: 0.0001),
            (letter: 'n', frequency: 0.00066),
            (letter: 'o', frequency: 0.00132),
            (letter: 'r', frequency: 0.0019699999),
            (letter: 's', frequency: 0.00051),
            (letter: 't', frequency: 0.00014999999),
            (letter: 'u', frequency: 0.00086000003),
            (letter: 'w', frequency: 1.0000001e-05),
            (letter: 'y', frequency: 0.00026),
        ],
    ),
    'h': (
        frequency: 0.05,
        digraphs: [
            (letter: 'a', frequency: 0.00926),
            (letter: 'b', frequency: 4.0000003e-05),
            (letter: 'c', frequency: 1.0000001e-05),
            (letter: 'd', frequency: 3.0000001e-05),
            (letter: 'e', frequency: 0.03075),
            (letter: 'f', frequency: 2.0000001e-05),
            (letter: 'h', frequency: 1.0000001e-05),
            (letter: 'i', frequency: 0.00763),
            (letter: 'l', frequency: 0.00013),
            (letter: 'm', frequency: 0.00013),
            (letter: 'n', frequency: 0.00026),
            (letter: 'o', frequency: 0.00485),
            (letter: 'p', frequency: 1.0000001e-05),
            (letter: 'r', frequency: 0.00084),
            (letter: 's', frequency: 0.00014999999),
            (letter: 't', frequency: 0.0013),
            (letter: 'u', frequency: 0.00074),
            (letter: 'w', frequency: 5e-05),
            (letter: 'y', frequency: 0.0005),
        ],
    ),
    'i': (
        frequency: 0.076,
        digraphs: [
            (letter: 'a', frequency: 0.0028600001),
            (letter: 'b', frequency: 0.00099),
            (letter: 'c', frequency: 0.00699),
            (letter: 'd', frequency: 0.00296),
            (letter: 'e', frequency: 0.00385),
            (letter: 'f', frequency: 0.0020299999),
            (letter: 'g', frequency: 0.0025499999),
            (letter: 'h', frequency: 2.0000001e-05),
            (letter: 'i', frequency: 0.00023),
            (letter: 'j', frequency: 1.0000001e-05),
            (letter: 'k', frequency: 0.00043000001),
            (letter: 'l', frequency: 0.0043200003),
            (letter: 'm', frequency: 0.00318),
            (letter: 'n', frequency: 0.024330001),
            (letter: 'o', frequency: 0.00835),
            (letter: 'p', frequency: 0.00089),
            (letter: 'q', frequency: 0.00011),
            (letter: 'r', frequency: 0.00315),
            (letter: 's', frequency: 0.01128),
            (letter: 't', frequency: 0.01123),
            (letter: 'u', frequency: 0.00017000001),
            (letter: 'v', frequency: 0.0028799998),
            (letter: 'w', frequency: 1.0000001e-05),
            (letter: 'x', frequency: 0.00022),
            (letter: 'z', frequency: 0.00064000004),
        ],
        rules: [
            (conditions: [FollowsLetter('c'),], action: InsertAfter('e'), probability: Some(0.85)),
        ],
    ),
    'j': (
        frequency: 0.0016,
        digraphs: [
            (letter: 'a', frequency: 0.00026),
            (letter: 'e', frequency: 0.00052),
            (letter: 'i', frequency: 3.0000001e-05),
            (letter: 'o', frequency: 0.00054000004),
            (letter: 'u', frequency: 0.00059),
        ],
    ),
    'k': (
        frequency: 0.005,
        digraphs: [
            (letter: 'a', frequency: 0.00017000001),
            (letter: 'b', frequency: 1.0000001e-05),
            (letter: 'd', frequency: 1.0000001e-05),
            (letter: 'e', frequency: 0.00214),
            (letter: 'f', frequency: 2.0000001e-05),
            (letter: 'g', frequency: 3.0000001e-05),
            (letter: 'h', frequency: 3.0000001e-05),
            (letter: 'i', frequency: 0.00098),
            (letter: 'l', frequency: 0.00011),
            (letter: 'm', frequency: 2.0000001e-05),
            (letter: 'n', frequency: 0.00051),
            (letter: 'o', frequency: 6.0000002e-05),
            (letter: 'p', frequency: 1.0000001e-05),
            (letter: 'r', frequency: 3.0000001e-05),
            (letter: 's', frequency: 0.00048000002),
            (letter: 't', frequency: 1.0000001e-05),
            (letter: 'u', frequency: 3.0000001e-05),
            (letter: 'w', frequency: 2.0000001e-05),
            (letter: 'y', frequency: 6.0000002e-05),
        ],
    ),
    'l': (
        frequency: 0.04,
        digraphs: [
            (letter: 'a', frequency: 0.00528),
            (letter: 'b', frequency: 7e-05),
            (letter: 'c', frequency: 0.000120000004),
            (letter: 'd', frequency: 0.00253),
            (letter: 'e', frequency: 0.00829),
            (letter: 'f', frequency: 0.00053),
            (letter: 'g', frequency: 6.0000002e-05),
            (letter: 'h', frequency: 2.0000001e-05),
            (letter: 'i', frequency: 0.00624),
            (letter: 'k', frequency: 0.0002),
            (letter: 'l', frequency: 0.00577),
            (letter: 'm', frequency: 0.00023),
            (letter: 'n', frequency: 6.0000002e-05),
            (letter: 'o', frequency: 0.00387),
            (letter: 'p', frequency: 0.00018999999),
            (letter: 'r', frequency: 0.0001),
            (letter: 's', frequency: 0.0014200001),
            (letter: 't', frequency: 0.00124),
            (letter: 'u', frequency: 0.00135),
            (letter: 'v', frequency: 0.00035),
            (letter: 'w', frequency: 0.00013),
            (letter: 'y', frequency: 0.00425),
        ],
        rules: [
            (conditions: [Last], action: Double, probability: Some(0.85)),
        ],
    ),
    'm': (
        frequency: 0.025,
        digraphs: [
            (letter: 'a', frequency: 0.00565),
            (letter: 'b', frequency: 0.00090000004),
            (letter: 'c', frequency: 4.0000003e-05),
            (letter: 'd', frequency: 1.0000001e-05),
            (letter: 'e', frequency: 0.007929999),
            (letter: 'f', frequency: 4.0000003e-05),
            (letter: 'g', frequency: 1.0000001e-05),
            (letter: 'h', frequency: 1.0000001e-05),
            (letter: 'i', frequency: 0.00318),
            (letter: 'l', frequency: 5e-05),
            (letter: 'm', frequency: 0.00096000003),
            (letter: 'n', frequency: 8.9999994e-05),
            (letter: 'o', frequency: 0.00337),
            (letter: 'p', frequency: 0.00239),
            (letter: 'r', frequency: 3.0000001e-05),
            (letter: 's', frequency: 0.00093000004),
            (letter: 't', frequency: 1.0000001e-05),
            (letter: 'u', frequency: 0.00115),
            (letter: 'w', frequency: 1.0000001e-05),
            (letter: 'y', frequency: 0.00062),
        ],
    ),
    'n': (
        frequency: 0.072,
        digraphs: [
            (letter: 'a', frequency: 0.00347),
            (letter: 'b', frequency: 4.0000003e-05),
            (letter: 'c', frequency: 0.00416),
            (letter: 'd', frequency: 0.01352),
            (letter: 'e', frequency: 0.0069199996),
            (letter: 'f', frequency: 0.00067000004),
            (letter: 'g', frequency: 0.00953),
            (letter: 'h', frequency: 0.00011),
            (letter: 'i', frequency: 0.00339),
            (letter: 'j', frequency: 0.00011),
            (letter: 'k', frequency: 0.00052),
            (letter: 'l', frequency: 0.00064000004),
            (letter: 'm', frequency: 0.00028),
            (letter: 'n', frequency: 0.00072999997),
            (letter: 'o', frequency: 0.00465),
            (letter: 'p', frequency: 6.0000002e-05),
            (letter: 'q', frequency: 6.0000002e-05),
            (letter: 'r', frequency: 8.9999994e-05),
            (letter: 's', frequency: 0.00509),
            (letter: 't', frequency: 0.01041),
            (letter: 'u', frequency: 0.00079),
            (letter: 'v', frequency: 0.00052),
            (letter: 'w', frequency: 6.0000002e-05),
            (letter: 'x', frequency: 3.0000001e-05),
            (letter: 'y', frequency: 0.00098),
            (letter: 'z', frequency: 4.0000003e-05),
        ],
    ),
    'o': (
        frequency: 0.076,
        digraphs: [
            (letter: 'a', frequency: 0.00057),
            (letter: 'b', frequency: 0.00097000005),
            (letter: 'c', frequency: 0.00166),
            (letter: 'd', frequency: 0.00195),
            (letter: 'e', frequency: 0.00039),
            (letter: 'f', frequency: 0.01175),
            (letter: 'g', frequency: 0.00093999994),
            (letter: 'h', frequency: 0.00021),
            (letter: 'i', frequency: 0.00088),
            (letter: 'j', frequency: 7e-05),
            (letter: 'k', frequency: 0.00064000004),
            (letter: 'l', frequency: 0.00365),
            (letter: 'm', frequency: 0.00546),
            (letter: 'n', frequency: 0.01758),
            (letter: 'o', frequency: 0.0021),
            (letter: 'p', frequency: 0.00224),
            (letter: 'q', frequency: 1.0000001e-05),
            (letter: 'r', frequency: 0.01277),
            (letter: 's', frequency: 0.0029),
            (letter: 't', frequency: 0.00442),
            (letter: 'u', frequency: 0.0087),
            (letter: 'v', frequency: 0.00178),
            (letter: 'w', frequency: 0.0033000002),
            (letter: 'x', frequency: 0.00018999999),
            (letter: 'y', frequency: 0.00035999998),
            (letter: 'z', frequency: 3.0000001e-05),
        ],
    ),
    'p': (
        frequency: 0.021,
        digraphs: [
            (letter: 'a', frequency: 0.00324),
            (letter: 'b', frequency: 1.0000001e-05),
            (letter: 'c', frequency: 1.0000001e-05),
            (letter: 'd', frequency: 1.0000001e-05),
            (letter: 'e', frequency: 0.00478),
            (letter: 'f', frequency: 1.0000001e-05),
            (letter: 'h', frequency: 0.00093999994),
            (letter: 'i', frequency: 0.00123),
            (letter: 'k', frequency: 1.0000001e-05),
            (letter: 'l', frequency: 0.00263),
            (letter: 'm', frequency: 0.00016000001),
            (letter: 'n', frequency: 1.0000001e-05),
            (letter: 'o', frequency: 0.00361),
            (letter: 'p', frequency: 0.00137),
            (letter: 'r', frequency: 0.0047400002),
            (letter: 's', frequency: 0.00055),
            (letter: 't', frequency: 0.00106),
            (letter: 'u', frequency: 0.00105),
            (letter: 'w', frequency: 1.0000001e-05),
            (letter: 'y', frequency: 0.000120000004),
        ],
        rules: [
            (conditions: [NotLast, FollowsLetterGroup("vowels")], action: Double, probability: Some(0.7)),
        ],
    ),
    'q': (
        frequency: 0.0012,
        digraphs: [
            (letter: 'u', frequency: 0.00148),
        ],
        rules: [
            (conditions: [Allways], action: InsertAfter('u')),
        ],
    ),
    'r': (
        frequency: 0.063,
        digraphs: [
            (letter: 'a', frequency: 0.00686),
            (letter: 'b', frequency: 0.00027000002),
            (letter: 'c', frequency: 0.00121),
            (letter: 'd', frequency: 0.00189),
            (letter: 'e', frequency: 0.01854),
            (letter: 'f', frequency: 0.00032000002),
            (letter: 'g', frequency: 0.001),
            (letter: 'h', frequency: 0.00014999999),
            (letter: 'i', frequency: 0.00728),
            (letter: 'j', frequency: 1.0000001e-05),
            (letter: 'k', frequency: 0.00097000005),
            (letter: 'l', frequency: 0.00086000003),
            (letter: 'm', frequency: 0.0017499999),
            (letter: 'n', frequency: 0.0016),
            (letter: 'o', frequency: 0.00727),
            (letter: 'p', frequency: 0.00042),
            (letter: 'q', frequency: 1.0000001e-05),
            (letter: 'r', frequency: 0.00121),
            (letter: 's', frequency: 0.00397),
            (letter: 't', frequency: 0.0036199999),
            (letter: 'u', frequency: 0.0012800001),
            (letter: 'v', frequency: 0.00068999996),
            (letter: 'w', frequency: 0.00013),
            (letter: 'x', frequency: 1.0000001e-05),
            (letter: 'y', frequency: 0.00248),
            (letter: 'z', frequency: 1.0000001e-05),
        ],
    ),
    's': (
        frequency: 0.065,
        digraphs: [
            (letter: 'a', frequency: 0.0021799998),
            (letter: 'b', frequency: 8.0000005e-05),
            (letter: 'c', frequency: 0.00155),
            (letter: 'd', frequency: 5e-05),
            (letter: 'e', frequency: 0.00932),
            (letter: 'f', frequency: 0.00017000001),
            (letter: 'g', frequency: 2.0000001e-05),
            (letter: 'h', frequency: 0.00315),
            (letter: 'i', frequency: 0.0055),
            (letter: 'k', frequency: 0.00039),
            (letter: 'l', frequency: 0.00056),
            (letter: 'm', frequency: 0.00065),
            (letter: 'n', frequency: 8.9999994e-05),
            (letter: 'o', frequency: 0.00398),
            (letter: 'p', frequency: 0.00191),
            (letter: 'q', frequency: 7e-05),
            (letter: 'r', frequency: 6.0000002e-05),
            (letter: 's', frequency: 0.00405),
            (letter: 't', frequency: 0.01053),
            (letter: 'u', frequency: 0.00311),
            (letter: 'v', frequency: 1.0000001e-05),
            (letter: 'w', frequency: 0.00024000001),
            (letter: 'y', frequency: 0.00057),
        ],
        rules: [
            (conditions: [Last], action: Double, probability: Some(0.85)),
        ],
    ),
    't': (
        frequency: 0.093,
        digraphs: [
            (letter: 'a', frequency: 0.0053),
            (letter: 'b', frequency: 3.0000001e-05),
            (letter: 'c', frequency: 0.00026),
            (letter: 'd', frequency: 1.0000001e-05),
            (letter: 'e', frequency: 0.01205),
            (letter: 'f', frequency: 6.0000002e-05),
            (letter: 'g', frequency: 2.0000001e-05),
            (letter: 'h', frequency: 0.03556),
            (letter: 'i', frequency: 0.01343),
            (letter: 'l', frequency: 0.00098),
            (letter: 'm', frequency: 0.00026),
            (letter: 'n', frequency: 0.0001),
            (letter: 'o', frequency: 0.01041),
            (letter: 'p', frequency: 4.0000003e-05),
            (letter: 'r', frequency: 0.00426),
            (letter: 's', frequency: 0.00337),
            (letter: 't', frequency: 0.00171),
            (letter: 'u', frequency: 0.0025499999),
            (letter: 'v', frequency: 1.0000001e-05),
            (letter: 'w', frequency: 0.00082),
            (letter: 'y', frequency: 0.00227),
            (letter: 'z', frequency: 4.0000003e-05),
        ],
    ),
    'u': (
        frequency: 0.027,
        digraphs: [
            (letter: 'a', frequency: 0.0013600001),
            (letter: 'b', frequency: 0.00089),
            (letter: 'c', frequency: 0.0018799999),
            (letter: 'd', frequency: 0.00091),
            (letter: 'e', frequency: 0.00147),
            (letter: 'f', frequency: 0.00018999999),
            (letter: 'g', frequency: 0.0012800001),
            (letter: 'h', frequency: 1.0000001e-05),
            (letter: 'i', frequency: 0.00101),
            (letter: 'j', frequency: 1.0000001e-05),
            (letter: 'k', frequency: 5e-05),
            (letter: 'l', frequency: 0.0034599998),
            (letter: 'm', frequency: 0.0013799999),
            (letter: 'n', frequency: 0.0039399997),
            (letter: 'o', frequency: 0.00011),
            (letter: 'p', frequency: 0.0013600001),
            (letter: 'r', frequency: 0.00543),
            (letter: 's', frequency: 0.00454),
            (letter: 't', frequency: 0.00405),
            (letter: 'u', frequency: 1.0000001e-05),
            (letter: 'v', frequency: 3.0000001e-05),
            (letter: 'x', frequency: 4.0000003e-05),
            (letter: 'y', frequency: 5e-05),
            (letter: 'z', frequency: 2.0000001e-05),
        ],
    ),
    'v': (
        frequency: 0.01,
        digraphs: [
            (letter: 'a', frequency: 0.0014),
            (letter: 'e', frequency: 0.00825),
            (letter: 'i', frequency: 0.0027),
            (letter: 'o', frequency: 0.00071000005),
            (letter: 'r', frequency: 1.0000001e-05),
            (letter: 's', frequency: 1.0000001e-05),
            (letter: 'u', frequency: 2.0000001e-05),
            (letter: 'y', frequency: 5e-05),
        ],
    ),
    'w': (
        frequency: 0.017,
        digraphs: [
            (letter: 'a', frequency: 0.00385),
            (letter: 'b', frequency: 1.0000001e-05),
            (letter: 'c', frequency: 1.0000001e-05),
            (letter: 'd', frequency: 4.0000003e-05),
            (letter: 'e', frequency: 0.00361),
            (letter: 'f', frequency: 2.0000001e-05),
            (letter: 'h', frequency: 0.00379),
            (letter: 'i', frequency: 0.00374),
            (letter: 'k', frequency: 1.0000001e-05),
            (letter: 'l', frequency: 0.00014999999),
            (letter: 'm', frequency: 1.0000001e-05),
            (letter: 'n', frequency: 0.00079),
            (letter: 'o', frequency: 0.0022200001),
            (letter: 'p', frequency: 1.0000001e-05),
            (letter: 'r', frequency: 0.00031),
            (letter: 's', frequency: 0.00035),
            (letter: 't', frequency: 7e-05),
            (letter: 'u', frequency: 1.0000001e-05),
            (letter: 'y', frequency: 2.0000001e-05),
        ],
    ),
    'x': (
        frequency: 0.0023,
        digraphs: [
            (letter: 'a', frequency: 0.00029999999),
            (letter: 'c', frequency: 0.00026),
            (letter: 'e', frequency: 0.00022),
            (letter: 'f', frequency: 2.0000001e-05),
            (letter: 'h', frequency: 4.0000003e-05),
            (letter: 'i', frequency: 0.00039),
            (letter: 'l', frequency: 1.0000001e-05),
            (letter: 'o', frequency: 3.0000001e-05),
            (letter: 'p', frequency: 0.00067000004),
            (letter: 't', frequency: 0.00046999997),
            (letter: 'u', frequency: 5e-05),
            (letter: 'v', frequency: 2.0000001e-05),
            (letter: 'x', frequency: 3.0000001e-05),
            (letter: 'y', frequency: 3.0000001e-05),
        ],
    ),
    'y': (
        frequency: 0.017,
        digraphs: [
            (letter: 'a', frequency: 0.00016000001),
            (letter: 'b', frequency: 4.0000003e-05),
            (letter: 'c', frequency: 0.00014),
            (letter: 'd', frequency: 7e-05),
            (letter: 'e', frequency: 0.00093000004),
            (letter: 'f', frequency: 1.0000001e-05),
            (letter: 'g', frequency: 3.0000001e-05),
            (letter: 'h', frequency: 1.0000001e-05),
            (letter: 'i', frequency: 0.00029),
            (letter: 'l', frequency: 0.00014999999),
            (letter: 'm', frequency: 0.00024000001),
            (letter: 'n', frequency: 0.00013),
            (letter: 'o', frequency: 0.0015),
            (letter: 'p', frequency: 0.00025),
            (letter: 'r', frequency: 8.0000005e-05),
            (letter: 's', frequency: 0.00097000005),
            (letter: 't', frequency: 0.00017000001),
            (letter: 'u', frequency: 1.0000001e-05),
            (letter: 'w', frequency: 3.0000001e-05),
            (letter: 'z', frequency: 2.0000001e-05),
        ],
    ),
    'z': (
        frequency: 0.001,
        digraphs: [
            (letter: 'a', frequency: 0.00025),
            (letter: 'e', frequency: 0.0005),
            (letter: 'h', frequency: 1.0000001e-05),
            (letter: 'i', frequency: 0.000120000004),
            (letter: 'l', frequency: 1.0000001e-05),
            (letter: 'o', frequency: 7e-05),
            (letter: 'u', frequency: 2.0000001e-05),
            (letter: 'y', frequency: 2.0000001e-05),
            (letter: 'z', frequency: 3.0000001e-05),
        ],
    ),
}
