[
    (
        chars: ('a'),
        frequency: 0.08,
    ),
    (
        chars: ('b'),
        frequency: 0.015,
    ),
    (
        chars: ('c'),
        frequency: 0.033,
    ),
    (
        chars: ('d'),
        frequency: 0.038,
    ),
    (
        chars: ('e'),
        frequency: 0.125,
    ),
    (
        chars: ('f'),
        frequency: 0.024,
    ),
    (
        chars: ('g'),
        frequency: 0.019,
    ),
    (
        chars: ('h'),
        frequency: 0.05,
    ),
    (
        chars: ('i'),
        frequency: 0.076,
    ),
    (
        chars: ('j'),
        frequency: 0.0016,
    ),
    (
        chars: ('k'),
        frequency: 0.005,
    ),
    (
        chars: ('l'),
        frequency: 0.04,
    ),
    (
        chars: ('m'),
        frequency: 0.025,
    ),
    (
        chars: ('n'),
        frequency: 0.072,
    ),
    (
        chars: ('o'),
        frequency: 0.076,
    ),
    (
        chars: ('p'),
        frequency: 0.021,
    ),
    (
        chars: ('q'),
        frequency: 0.0012,
    ),
    (
        chars: ('r'),
        frequency: 0.063,
    ),
    (
        chars: ('s'),
        frequency: 0.065,
    ),
    (
        chars: ('t'),
        frequency: 0.093,
    ),
    (
        chars: ('u'),
        frequency: 0.027,
    ),
    (
        chars: ('v'),
        frequency: 0.01,
    ),
    (
        chars: ('w'),
        frequency: 0.017,
    ),
    (
        chars: ('x'),
        frequency: 0.0023,
    ),
    (
        chars: ('y'),
        frequency: 0.017,
    ),
    (
        chars: ('z'),
        frequency: 0.001,
    ),
]
